p {
    /*comment*/
    color: red;
    text-align: center;
}

.center {
    /*comment*/
    color: blue;
    text-align: center;
}

#different {
    /*comment*/
    color: green;
    text-align: center;
}